<div class="be-wrapper">
    <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
            <div class="be-navbar-header">
                <a class="navbar-brand" href="/"></a>
            </div>
            <div class="page-title"><span>Панель администратора</span></div>
            <div class="be-right-navbar">
                <ul class="nav navbar-nav float-right be-icons-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/admin/logout" role="button">
                            <span class="icon mdi mdi-power"></span>
                            <span>Выйти</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper">
            <a class="left-sidebar-toggle" href="#">Панель администратора</a>
            <div class="left-sidebar-spacer">
                <div class="left-sidebar-scroll">
                    <div class="left-sidebar-content">
                        <ul class="sidebar-elements">
                            <li class="divider">Меню</li>
                            <li>
                                <a href="/admin/table">
                                    <i class="icon mdi mdi-border-all"></i>
                                    <span>Таблица материалов</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="/admin/inputData">
                                    <i class="icon mdi mdi-upload"></i>
                                    <span>Добавить материал</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="icon mdi mdi-long-arrow-left"></i>
                                    <span>На главную</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="be-content">
        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-border-color card-border-color-primary">
                        <div class="card-header">
                            <span class="title"></span>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/admin/insertMaterial">
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">Материал</label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="Material"
                                               required="" placeholder="Введите материал"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">Компания</label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="Company"
                                               required="" placeholder="Введите компанию"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">Страна</label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="Country"
                                               required="" placeholder="Введите страну"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">ρ</label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text"  name="ro"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">K<sub>p</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="Kp"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">Q<sub>m</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="Qm"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">C<sup>e</sup><sub>11</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="c11e"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">jC<sup>e</sup><sub>11</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="jc11e"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">C<sup>e</sup><sub>12</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="c12e"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">jC<sup>e</sup><sub>12</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="jc12e"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">C<sup>e</sup><sub>13</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="c13e"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">jC<sup>e</sup><sub>13</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="jc13e"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">C<sup>e</sup><sub>33</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="c33e"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">jC<sup>e</sup><sub>33</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="jc33e"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">C<sup>e</sup><sub>44</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="c44e"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">jC<sup>e</sup><sub>44</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="jc44e"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">e<sub>31</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="e31"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">je<sub>31</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="je31"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">e<sub>33</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="e33"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">je<sub>33</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="je33"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">e<sub>15</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="e15"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">je<sub>15</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="je15"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">ε<sup>s</sup><sub>11</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="e11s"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">jε<sup>s</sup><sub>11</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="je11s"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">ε<sup>s</sup><sub>33</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="e33s"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">jε<sup>s</sup><sub>33</sub></label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input class="form-control" type="text" name="je33s"
                                               required="" placeholder="Введите число"
                                               data-parsley-type="number" min=0.00000000001
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row text-right">
                                    <div class="col col-sm-4 offset-sm-4">
                                        <button class="btn btn-block btn-primary btn-xl btn-space" type="submit">Добавить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>