<div class="be-wrapper be-login">
    <div class="main-content container-fluid">
        <div class="splash-container">
            <div class="card card-border-color card-border-color-primary">

                <!-- HEADER -->
                <div class="card-header">
                    <a href="/">
                        <img class="logo-img" src="/assets/img/logo.png" alt="logo" width="130">
                    </a>
                    <span class="splash-description">Пожалуйста, введите логин и пароль</span>
                </div>

                <!-- MAIN CONTENT -->
                <div class="card-body">

                    <!-- ALERT -->
                    <div class="alert alert-danger" role="alert"
                         style="display: <?= (isset($renderContent['error']))?'':'none' ?>;">
                        <div class="icon">
                            <span class="mdi mdi-close-circle-o"></span>
                        </div>
                        <div class="message">
                            <span class="span-message">Неправильно введен логин или пароль!</span>
                        </div>
                    </div>

                    <form method="POST">
                        <div class="form-group">
                            <input class="form-control" name="username"
                                   type="text" placeholder="Логин"
                                   autocomplete="off" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="password"
                                   type="password" placeholder="Пароль"
                                   required="">
                        </div>
                        <div class="form-group login-submit">
                            <button class="btn btn-primary btn-xl" type="submit">Войти</button>
                        </div>
                        <div class="form-group row login-tools">
                            <div class="col-12">
                                <a class="back-to-main" href="/">
                                    <i class="icon mdi mdi-long-arrow-left"></i>
                                    <span>На главную</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>