<div class="be-wrapper">
    <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
            <div class="be-navbar-header">
                <a class="navbar-brand" href="/"></a>
            </div>
            <div class="page-title"><span>Панель администратора</span></div>
            <div class="be-right-navbar">
                <ul class="nav navbar-nav float-right be-icons-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/admin/logout" role="button">
                            <span class="icon mdi mdi-power"></span>
                            <span>Выйти</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper">
            <a class="left-sidebar-toggle" href="#">Панель администратора</a>
            <div class="left-sidebar-spacer">
                <div class="left-sidebar-scroll">
                    <div class="left-sidebar-content">
                        <ul class="sidebar-elements">
                            <li class="divider">Меню</li>
                            <li class="active">
                                <a href="/admin/table">
                                    <i class="icon mdi mdi-border-all"></i>
                                    <span>Таблица материалов</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/inputData">
                                    <i class="icon mdi mdi-upload"></i>
                                    <span>Добавить материал</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="icon mdi mdi-long-arrow-left"></i>
                                    <span>На главную</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="be-content">
        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-table">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <div class="tab-container be-loading">
                                <table id="table" class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Материал</th>
                                        <th>Компания</th>
                                        <th>Страна</th>
                                        <th>ro</th>
                                        <th>Kp</th>
                                        <th>Qm</th>
                                        <th>Qs11e</th>
                                        <th>Qs12e</th>
                                        <th>Qs13e</th>
                                        <th>Qs33e</th>
                                        <th>Qs44e</th>
                                        <th>Qd31</th>
                                        <th>Qd33</th>
                                        <th>Qd15</th>
                                        <th>Qe11t</th>
                                        <th>Qe33t</th>
                                        <th>Y11e</th>
                                        <th>Y33e</th>
                                        <th>Y33d</th>
                                        <th>c11e</th>
                                        <th>jc11e</th>
                                        <th>c12e</th>
                                        <th>jc12e</th>
                                        <th>c13e</th>
                                        <th>jc13e</th>
                                        <th>c33e</th>
                                        <th>jc33e</th>
                                        <th>c44e</th>
                                        <th>jc44e</th>
                                        <th>c11d</th>
                                        <th>jc11d</th>
                                        <th>c12d</th>
                                        <th>jc12d</th>
                                        <th>c13d</th>
                                        <th>jc13d</th>
                                        <th>c33d</th>
                                        <th>jc33d</th>
                                        <th>c44d</th>
                                        <th>jc44d</th>
                                        <th>s11e</th>
                                        <th>js11e</th>
                                        <th>s12e</th>
                                        <th>js12e</th>
                                        <th>s13e</th>
                                        <th>js13e</th>
                                        <th>s33e</th>
                                        <th>js33e</th>
                                        <th>s44e</th>
                                        <th>js44e</th>
                                        <th>s11d</th>
                                        <th>js11d</th>
                                        <th>s12d</th>
                                        <th>js12d</th>
                                        <th>s13d</th>
                                        <th>js13d</th>
                                        <th>s33d</th>
                                        <th>js33d</th>
                                        <th>s44d</th>
                                        <th>js44d</th>
                                        <th>e31</th>
                                        <th>je31</th>
                                        <th>e33</th>
                                        <th>je33</th>
                                        <th>e15</th>
                                        <th>je15</th>
                                        <th>d31</th>
                                        <th>jd31</th>
                                        <th>d33</th>
                                        <th>jd33</th>
                                        <th>d15</th>
                                        <th>jd15</th>
                                        <th>h31</th>
                                        <th>jh31</th>
                                        <th>h33</th>
                                        <th>jh33</th>
                                        <th>h15</th>
                                        <th>jh15</th>
                                        <th>g31</th>
                                        <th>jg31</th>
                                        <th>g33</th>
                                        <th>jg33</th>
                                        <th>g15</th>
                                        <th>jg15</th>
                                        <th>e11s</th>
                                        <th>je11s</th>
                                        <th>e11t</th>
                                        <th>je11t</th>
                                        <th>e33s</th>
                                        <th>je33s</th>
                                        <th>e33t</th>
                                        <th>je33t</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <!-- Прелоадер -->
                                <div class="be-spinner">
                                    <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                        <circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="mod-primary" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close close-delete" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-primary"><span class="modal-main-icon mdi mdi-info-outline"></span></div>
                    <h3>Внимание!</h3>
                    <p>Вы уверены, что хотите удалить выбранные материалы?</p>
                    <div class="mt-8">
                        <button class="btn btn-space btn-secondary" type="button" data-dismiss="modal">Отмена</button>
                        <button class="btn btn-space btn-primary btn-delete-submit" type="button">Удалить</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>