<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Piezotransformer</title>
    <?= AppAssets::getCss($renderTemplateResource); ?>
</head>
<body>
    <?php include "$renderTemplate.phtml"; ?>
</body>
<?= AppAssets::getJs($renderTemplateResource); ?>
</html>