<div class="be-wrapper be-nosidebar-left">

    <!-- HEADER -->
    <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
            <div class="be-navbar-header">
                <a class="navbar-brand" href="/"></a>
            </div>
            <div class="page-title"><span>Расчет пьезоэлектрических трансформаторов</span></div>
        </div>
    </nav>

    <!-- SUB_NAVIGATION -->
    <nav class="navbar navbar-expand-md be-sub-navigation">
        <a class="navbar-brand be-sub-navigation-collapse collapsed" href="#" data-toggle="collapse" aria-expanded="false"
           data-target="#be-sub-navigation-collapse">Методы расчетов</a>
        <div class="navbar-collapse collapse" id="be-sub-navigation-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/transformer/forward">Поверочный расчет</a></li>
                <li class="nav-item"><a class="nav-link" href="/transformer/backward">Проектировочный расчет</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin">Панель администратора</a></li>
            </ul>
        </div>
    </nav>

    <!-- MAIN -->
    <div class="be-content">
        <div class="main-content container-fluid">
            <div class="row">

                <!-- Блок ввода параметров -->
                <div class="col-sm-6 active-window">
                    <div class="tab-container be-loading">
                        <ul class="nav nav-tabs nav-tabs-classic" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active"  href="#classic" data-toggle="tab" role="tab" aria-selected="false">
                                    <span class="icon mdi mdi-n-1-square"></span>
                                    <span>Классический</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="#accurate" data-toggle="tab" role="tab" aria-selected="true">
                                    <span class="icon mdi mdi-n-2-square"></span>
                                    <span>Точный</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <!-- Классический метод -->
                            <div class="tab-pane active" id="classic" role="tabpanel">
                                <h3>Расчет размеров классическим методом</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <form id="form-method-backward-classic" method="post">
                                                    <div class="form-group row transformer-type">
                                                        <div class="col-12 col-sm-8 offset-sm-2">
                                                            <select class="select2 select2-hidden-accessible" name="type" required="">
                                                                <option></option>
                                                                <option value="POP_PROD">Поперечно-продольный</option>
                                                                <option value="PROD_POP">Продольно-поперечный</option>
                                                                <option value="PROD_PROD">Продольно-продольный</option>
                                                                <option value="POP_POP">Поперечно-поперечный</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row material-type">
                                                        <div class="col-12 col-sm-8 offset-sm-2">
                                                            <select class="select2 select2-hidden-accessible" name="material-id" required="">
                                                                <option></option>
                                                                <?php for ($i=0; $i <= count($renderContent['Material']); $i++) {
                                                                        echo '<option value="'.$renderContent['id'][$i].'">'.$renderContent['Material'][$i].'</option>';
                                                                    }
                                                                ?>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-lg-2 col-form-label text-right"></label>
                                                        <div class="col-8 col-lg-8">
                                                            <input class="form-control" name="ku">
                                                        </div>
                                                        <span class="col-2 col-lg-2 col-form-label input-dimension"></span>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-lg-2 col-form-label text-right"></label>
                                                        <div class="col-8 col-lg-8">
                                                            <input class="form-control" name="u_out">
                                                        </div>
                                                        <span class="col-2 col-lg-2 col-form-label input-dimension"></span>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-lg-2 col-form-label text-right"></label>
                                                        <div class="col-8 col-lg-8">
                                                            <input class="form-control" name="r_load">
                                                        </div>
                                                        <span class="col-2 col-lg-2 col-form-label input-dimension"></span>
                                                    </div>
                                                    <div class="form-group row text-right">
                                                        <div class="col col-sm-5 offset-sm-5">
                                                            <button class="btn btn-block btn-primary btn-xl toggle-loading" type="submit">Расчет</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Точный метод -->
                            <div class="tab-pane" id="accurate" role="tabpanel">
                                <h3>Расчет размеров методом с использованием добротностей</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <form id="form-method-backward-accurate" method="post">
                                                    <div class="form-group row transformer-type">
                                                        <div class="col-12 col-sm-8 offset-sm-2">
                                                            <select class="select2 select2-hidden-accessible" name="type" required="">
                                                                <option></option>
                                                                <option value="POP_PROD">Поперечно-продольный</option>
                                                                <option value="PROD_POP">Продольно-поперечный</option>
                                                                <option value="PROD_PROD">Продольно-продольный</option>
                                                                <option value="POP_POP">Поперечно-поперечный</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row material-type">
                                                        <div class="col-12 col-sm-8 offset-sm-2">
                                                            <select class="select2 select2-hidden-accessible" name="material-id" required="">
                                                                <option></option>
                                                                <?php for ($i=0; $i <= count($renderContent['Material']); $i++) {
                                                                    if (isset($renderContent['je11s'][$i]) && $renderContent['je11s'][$i] !== '0') {
                                                                        echo '<option value="'.$renderContent['id'][$i].'">'.$renderContent['Material'][$i].'</option>';
                                                                    }
                                                                }
                                                                ?>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-lg-2 col-form-label text-right"></label>
                                                        <div class="col-8 col-lg-8">
                                                            <input class="form-control" name="ku">
                                                        </div>
                                                        <span class="col-2 col-lg-2 col-form-label input-dimension"></span>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-lg-2 col-form-label text-right"></label>
                                                        <div class="col-8 col-lg-8">
                                                            <input class="form-control" name="u_out">
                                                        </div>
                                                        <span class="col-2 col-lg-2 col-form-label input-dimension"></span>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-lg-2 col-form-label text-right"></label>
                                                        <div class="col-8 col-lg-8">
                                                            <input class="form-control" name="r_load">
                                                        </div>
                                                        <span class="col-2 col-lg-2 col-form-label input-dimension"></span>
                                                    </div>
                                                    <div class="form-group row text-right">
                                                        <div class="col col-sm-5 offset-sm-5">
                                                            <button class="btn btn-block btn-primary btn-xl toggle-loading" type="submit">Расчет</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Прелоадер -->
                        <div class="be-spinner">
                            <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                <circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
                            </svg>
                        </div>
                    </div>
                </div>

                <!-- Блок вывода результатов -->
                <div class="col-sm-6 active-window">
                    <div class="card" id="results">
                        <div class="card-header card-header-divider text-center">
                            Вывод результатов
                        </div>
                        <div class="card-body text-center">
                            <div class="missing-data text-center">
                                Введите<br>расчетные<br>данные
                            </div>
                            <!-- BODY -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>