/*Header*/
.nav-link .icon {
    margin-right: 8px;
}

.be-top-header .navbar-nav>li>a.nav-link:hover>span,
.be-top-header .navbar-nav>li>a.nav-link:focus>span {
    color: #f95345;
    transition: color .3s ease-in-out;
}

/*Button*/
.btn-secondary.disabled{
    cursor: not-allowed;
}

/*Link on the main page*/
.back-to-main{
    font-size: 1.15rem;
}

.back-to-main .icon{
    margin-right: 3px;
}