/*
Файл реализует изменение стилей фреймворка
 */

.nav-tabs-classic {
    background-color: #4285f4;
    padding-top: 26px;
    padding-left: 3%;

}

.nav.nav-tabs.nav-tabs-classic{
    border-radius: 3px 3px 0 0;
}

.card-header.card-header-featured{
    border-radius: 3px 3px 0 0;
}

.nav-tabs > li.nav-item a.nav-link {
    color: white;
    font-size: 1.2rem;
}

.nav-tabs > li.nav-item a.nav-link .icon{
    color: white;
    font-size: 1.6rem;
}

.nav-tabs > li.nav-item a.nav-link.active {
    color: #4285f4;
}

.nav-tabs > li.nav-item a.nav-link.active .icon{
    color: #4285f4;
}

.nav-tabs > li.nav-item a.nav-link:hover {
    color: white;
}

.nav-tabs > li.nav-item a.nav-link.active:hover,
.nav-tabs > li.nav-item a.nav-link.active:focus {
    color: #4285f4;
}

/*Select*/
.select2-search--dropdown {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #898989;
    font-size: 1.1538rem;
}

/*Logo*/

.be-top-header .be-navbar-header .navbar-brand {
    background-image: url(/assets/img/logo.png);
    background-size: 140px;
}

/*Header*/
.be-wrapper .be-top-header .be-navbar-header .navbar-brand {
    width: 195px;
}

.be-top-header {
    padding-left: 55px;
}

.be-nosidebar-left .be-top-header .page-title {
    background-color: white;
    color: #3e4142;
}

@media (max-width: 767.98px) {
    .be-top-header .be-navbar-header {
        display: block;
    }

    .be-top-header .be-navbar-header .navbar-brand {
        display: block;
    }

    .be-wrapper {
        padding-top: 0;
    }
}

.be-sub-navigation {
    margin-bottom: 0;
}

@media (min-width: 767.98px) {
    .be-top-header .be-right-navbar {
        width: max-content;
    }
}

/*FORM*/
.form-group.row label {
    line-height: 2.7em;
    font-size: 1.5em;
    padding-right: 0;
}

.form-group.row .input-dimension {
    line-height: 2.9em;
    font-size: 1.3em;
    padding-left: 0;
    color: #666;
}

.be-nosidebar-left .be-content {
    max-width: 2000px;
    margin: 0 auto;
}

/*Button*/
.btn-xl {
    line-height: 50px;
}