/**
Реализует стили для главного шаблона
 */

/*Блок ввода данных*/
.tab-container{
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.04);
}

/*Блок вывода результатов*/
#results .card-header{
    padding-bottom: 1.5384rem;
    font-size: 1.6rem;
}

.result-size{
    font-size: 2.0rem;
    font-weight: 300;
    padding-bottom: 40px;
    display: block;
}

.card-img{
    padding-bottom: 50px;
}

/*График*/
#line-chart{
    height: 400px;
    position: relative;
    padding-bottom: 20px;
}

/*Отсутствующие результаты*/
.missing-data{
    display: block;
    font-size: 5.54rem;
    font-weight: 700;
    line-height: 73px;
    max-height: 240px;
    color: #eeeeee;
    margin: 70px 0 110px;
}

/*Формы*/

.select2{
    height: 52px;
}

/*Улучшение адаптивности*/
@media (max-width: 400px) {
    .nav-tabs > li.nav-item a.nav-link {
        font-size: 1.0rem;
    }
}

@media (max-width: 576px) {
    .card-img{
        padding-bottom: 25px;
    }

    .result-size{
        font-size: 1.5rem;
        padding-bottom: 20px;
    }

    .missing-data{
        font-size: 3.446rem;
        line-height: 51px;
    }

    .form-group.row label {
        line-height: 3.1em;
        font-size: 1.1em;
        padding-right: 0;
    }

    .form-group.row .input-dimension {
        line-height: 3.1em;
        font-size: 1.1em;
        padding-left: 0;
        color: #666;
    }
}

@media (min-width: 576px) {
    .active-window {
        flex: none;
        max-width: none;
    }
}

@media (min-width: 1100px) {
    .active-window {
        flex: 0 0 50%;
        max-width: 50%;
    }
}