<div class="be-wrapper be-error be-error-404">
    <div class="main-content container-fluid">
        <div class="error-container">
            <div class="error-number">404</div>
            <div class="error-description">Страница не найдена</div>
            <div class="error-goback-text">Желаете перейти на главную?</div>
            <div class="error-goback-button"><a class="btn btn-xl btn-primary" href="/">Перейти</a></div>
            <div class="footer">&copy; <?= date("Y"); ?> СПбПУ</div>
        </div>
    </div>
</div>